<div tabindex="-1" type="button"<%- $attr('timestamp', 'ts') %><%- $attr('days', 'd') %><%- $attr('months', 'm') %>>
	<span unselectable="on" tabindex="-1"></span>
	<div role="menuitem"<%- $title() %><%- $attr('style') %><%- $attr('prompt') %>></div>
</div>
<div class="calendar"></div>